
body {
  font-family: arial;
  background-color: rgb(185,179,175);
  text-align: center;}

h1, h2 {
  color: #ee3e80;
  text-shadow: 2px 2px 3px #666666;
  padding-bottom: 10px;}

a:link {
  color: deeppink;
  text-decoration: none;}
a:visited {
  color: deepcyan}
a:hover {
  color: deeppink;
  text-decoration: underline;}
