
body {
  font-family: arial;
  background-color: rgb(185,179,175);
  text-align: center;}

h1, h2 {
  color: #8c98e7;
  text-shadow: 2px 2px 3px #666666;
  padding-bottom: 10px;}

a:link {
  color: #8c98e7;
  text-decoration: none;}
a:visited {
  color: deeppink}
a:hover {
  color: #8c98e7;
  text-decoration: underline;}

ul {
  list-style-type: circle;
  text-align: center}

table, td, th {  
  border: 1px solid #ddd;
  text-align: center;}

table {
  width: 60%;}

th, td {
  padding: 15px;}

table.center {
  margin-left:auto; 
  margin-right:auto;}
